# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables and credentials
.env

# Ignore logs
*.log

# Ignore data files
data/*

# Ignore virtual environments
venv/
.env/
.venv/
